html {
    font-size: 100%;
    background-color: rgba(161, 182, 211, 1);
    color: black;
    }
    
body {
    font-family: "MyriadPro-Regular", sans-serif;
    }
    
    
/* Font Declarations */

@font-face
{
font-family: MyriadPro-Regular;
font-style: normal;
src: url('static/fonts/MYRIADPRO-REGULAR.OTF')
}

@font-face
{
font-family: "MyriadPro-Cond";
font-style: normal;
src: url('static/fonts/MYRIADPRO-COND.OTF')
}

@font-face
{
font-family: "catull";
font-style: normal;
src: url('static/fonts/catull.ttf')
}


/* Styling */

.boxTrim {
  border-style: solid;
  border-top-width: 5px;
  border-top-color: rgba(88, 117, 238, 1);
  border-left: none;
  border-right: none;
  border-bottom: none;
}
